:root{
    --color-bg: #f5f1e7;
    --color-bg-header: #cabda5;
    --color-font-main-header:#c1a78e;
    --color-font-text: #c9b293;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--color-bg);
}

.header__section{
    background: var(--color-bg-header);
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    padding: 0.5rem;
}

.header__logo{
    width: 14rem;
}

.header__title{
    align-self: center;
    font-size: 1.563rem;
    text-wrap: wrap;
    color: white;
    font-weight: 600;
    text-align: center;
}

.main__section{
    padding: 1rem;
}

.main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.main__title{
    color: var(--color-font-main-header);
    font-size: 2rem;
    font-weight: 600;
}

.main__subtitle{
    color: var(--color-font-main-header);
    font-size: 2rem;
    font-weight: 700;
}

.main__context{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__steps{
    color: var(--color-font-text);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.main__steps span{
    color: var(--color-font-main-header);
    font-weight: 600;
}

.main__aclarations{
    margin-top: 2rem;
    color: var(--color-font-text);
}

.footer__section{
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    background-color: var(--color-bg-header);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer__content{
    color: white;
    font-size: 1rem;
    text-align: center;
}

@media only screen and (min-width:
768px) {
    .header__section{
        flex-direction: row;
        gap: 5rem;
    }

    .header__logo{
        width: 18rem;
    }

    .header__title{
        font-size: 2rem;
        text-wrap: nowrap;
    }
    
    .main__section{
        padding: 5rem 15rem;
    }

    .main__content{
        align-items: flex-start;
    }
    
    .main__title{
        font-size: 3rem;
    }
    
    .main__subtitle{
        font-size: 2.5rem;
    }
    
    .main__context{
        width: 100%;
        margin-top: 3rem;
        gap: 3rem;
    }

    .main__steps{
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        font-size: 1.5rem;
    }

    .main__steps li{
        max-width: 300px;
    }

    .main__aclarations{
        margin-top: 2rem;
        color: var(--color-font-text);
        font-size: 1.3rem;
        font-style: italic;
    }

}