:root{
    --color-bg: #f5f1e7;
    --color-bg-header: #cabda5;
    --color-font-main-header:#c1a78e;
    --color-font-text: #c9b293;
}

.main__section-deviceDetail{
    padding: 1rem;
}

.fancy {
    --b: 6px;   /* control the border thickness */
    --w: 80px;  /* control the width of the line*/
    --g: 15px;  /* control the gap */
    --c: #cabda5;
   
    width: fit-content;
    padding: 0 1.5em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: 
       linear-gradient(
         #0000      calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
    font-size: 1.3rem;
    margin-block: .5rem;
    text-align: center;
}

span {
    font-weight: 600;
    color: var(--color-font-main-header);
}

p {
    color: gray;
    font-size: 1.1rem;
    line-height: normal;
}

div{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
