:root{
    --color-bg: #f5f1e7;
    --color-bg-header: #cabda5;
    --color-font-main-header:#c1a78e;
    --color-font-text: #c9b293;
  }

.main__section-devices {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    min-height: 74.2vh;
    padding: 1rem;
}

.page_title{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    color: var(--color-font-main-header);
}

.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.8rem;
}

.card{
    padding: 1rem 1.2rem;
    border: 3px solid var(--color-bg-header);
    border-radius: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    background: #d6c7b3;
    box-shadow: 2px 2px rgba(32, 32, 32, 0.37);
    color: #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.card__title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card__icon{
    width: 2rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.icon__back{
    width: 1.8rem;
    transform: rotate(180deg);
}
  
.pagination button {
    background-color: var(--color-bg-header);
    border: 1px solid rgb(139, 136, 136);
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
}

.pagination button:hover {
    background-color: #d4ceca;
}

.pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
  
@media only screen and (min-width:
768px) {
    .main__section-devices{
        padding: 2rem 15rem;
    }

    .footer__section{
        position: static;
        bottom: 0;
    }

    .page_title{
        font-size: 2.8rem;
    }

    .card__container{
        height: 500px;
        flex-wrap: wrap;
    }

    .card{
        width: 400px;
    }

}